<h1>Services</h1>

<% if current_user && current_user.admin %>
  <a href="/services/new">Add Service</a>
<% end %>

<%= form_tag '/user_services_multiple', method: :post do %>
  <% @services.each do |service| %>
    <a href ="/services/<%= service.id %>">
    <h3><%= service.title %></h3></a>
    <h4><%= service.description %></h4>
    <div>
      <%= hidden_field_tag :service_id, service.id, class: "form-control" %>
    </div>
    <div>
      <%= check_box_tag "services[]", service.id, current_user.enrolled?(service) %>
      <%= label_tag "services[]", "Opt in" %>
    </div>
    <br>
  <% end %>
  <div>
    <%= submit_tag "Submit", class: "btn btn-submit" %>
  </div>

<% end %>    



