<h1>Services</h1>

<% if current_user && current_user.admin %>
  <a href="/services/new">Add Service</a>
<% end %>

<% @services.each do |service| %>
  <a href ="/services/<%= service.id %>">
    <h3><%= service.title %></h3></a>
  <h4><%= service.description %></h4>
  <%= form_tag '/user_services', method: :post do %>
    <div>
      <%= hidden_field_tag :service_id, service.id, class: "form-control" %>
    </div>
    <div>
      <%= button_tag "Opt In", class: "btn btn_default" %>
    </div>
  <% end %>
<% end %>    



