<h1><%= @event.title %></h1>
<ul>
  <li>Date: <%= @event.date %></li>
  <li>Time: <%= @event.start_time %></li>
  <li>Location: <%= @event.location %></li>
  <li>Description: <%= @event.description %></li>
</ul>

<% if current_user.admin && current_user.id == @event.user_id %>
  <%= button_to "Edit", "/events/#{@event.id}/edit", class: "btn btn_default", method: :get %>
  <%= button_to "Delete", "/events/#{@event.id}", class: "btn btn_default", method: :delete %>

  <p>List of attendees:</p>
  <table class="table table-striped">
    <% @event.users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.phone_number %></td>
        <td><%= mail_to user.email, "#{user.email}" %></td>
      </tr>
    <% end %>
<% end %>

<%= form_tag '/user_events', method: :post do %>
  <div>
    <%= hidden_field_tag :event_id, @event.id, class: "form-control" %>
  </div>
  <div>
    <% if !@event.user_registered?(current_user) %>
      <%= button_tag "Register", class: "btn btn_default font-bold" %>
    <% else %>
      <%= link_to "Unregister", "/user_events/#{@event.get_user_event_id(current_user)}", method: :delete, class: "btn btn-warning", role: "button" %>
    <% end %>  
  </div>
<% end %>

<%= button_to "All Events", "/events", class: "btn btn_default", method: :get %>
