<div ng-app="app">
  <div ng-controller="pagesCtrl" ng-init="setup()">
      <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
          <h2>Dashboard</h2>
          <ol class="breadcrumb">
            <li class="active">
              <strong>Home</strong>
            </li>
            <li>
              <a href="#new-message">New Message</a>
            </li>
            <li>
              <a href="#show-calendar">This Week</a>
            </li>
          </ol>
        </div>
      <div class="col-lg-2">
      </div>
    </div>

  <div class="row">
    <div class="wrapper wrapper-content">
      <div class="row animated fadeInRight">
        <div class="col-md-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><strong><%= current_user.full_name %></strong></h5>
            </div>
            <div>
              <div class="ibox-content no-padding border-left-right">
                <img alt="image" class="img-responsive img-profile" src="<%= current_user.avatar_url %>">
              </div>
              <div class="ibox-content profile-content">
                <h5>
                    About me
                </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                </p>
                <div class="user-button">
                  <div class="row">
                    <div class="col-md-6">
                      <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                    </div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> Buy a coffee</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="ibox float-e-margins" id="new-message">
            <div class="ibox-content">
              <div>
                <div class="chat-activity-list">
                  <div class="chat-element">
                    <a href="#" class="pull-left">
                      <img alt="image" class="img-circle" src="<%= current_user.avatar_url %>">
                    </a>
                    <div class="media-body">
                      <small class="pull-right">2h ago</small>
                      <strong>New Message</strong>
                    </div>
                  </div>
                </div>
              </div>
              <%= form_tag '/messages', method: :post do %>
                <div class="chat-form">
                  <form role="form">
                    <div class="form-group">
                      <%= text_field_tag :email, nil, class: "form-control", placeholder: "Recipient Email" %>
                    </div>
                    <div class="form-group">
                      <%= text_field_tag :subject, nil, class: "form-control", placeholder: "Subject" %>
                    </div>
                    <div class="form-group">
                      <%= text_field_tag :body, nil, class: "form-control", placeholder: "Message" %>
                    </div>
                    <div class="text-right">
                      <%= button_tag "Send Message", class: "btn btn-sm btn-primary m-t-n-xs" %>
                    </div>
                  </form>
                </div>
              <% end %>
              <div class="chat-form">
                <form role="form">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message"></textarea>
                  </div>
                  <div class="text-right">
                    <button type="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Send message</strong></button>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>     


   
        <div class="col-md-8">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Feed</h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content">
              <div>
                <div class="feed-activity-list">
                  <% @messages.each do |message| %>
                    <div class="feed-element">
                      <a href="#" class="pull-left">
                        <img alt="image" class="img-circle" src="<%= message.sender.avatar_url %>">
                      </a>
                      <div class="media-body ">
                        <small class="pull-right">2h ago</small>
                        <strong><%= message.sender.full_name %></strong> posted a message. <br>
                        <small class="text-muted"><%= message.readable_date %>  •  <%= message.readable_time %></small>
                        <div class="well">
                          <%= message.body %>
                        </div>
                        <div class="pull-left">
                          <%= button_to "Delete", "/messages/#{message.id}", class: "btn btn-xs btn-warning", method: :delete %> 
                        </div>
                        <div class="pull-right">
                          <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                          <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a>
                          <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
                <a href="/messages" class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Show More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins" id="show-calendar">
            <div class="ibox-title">
            <h5>This Week</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-wrench"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li><a href="#">Config option 1</a>
                </li>
                <li><a href="#">Config option 2</a>
                </li>
              </ul>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>



<h1>User Home</h1>

<h4>My Events</h4>

<% if current_user.admin %>
  <ul>
    <p>Events:</p>
    <% @owned_events.each do |owned_event| %>
      <a href="/events/<%= owned_event.id %>">
        <li><%= owned_event.title %></li></a> 
    <% end %>
  </ul>
  <ul>
    <p>Services:</p>
    <% @managed_services.each do |managed_service| %>
      <a href="/services/<%= managed_service.id %>">
        <li><%= managed_service.title %></li></a> 
    <% end %>
  </ul>
<% else %>
  <ul>
    <p>Events:</p>
    <% @user_events.each do |user_event| %>
      <a href="/events/<%= user_event.id %>">
        <li><%= user_event.title %></li></a> 
    <% end %>
  </ul>
  <ul>
    <p>Services:</p>
    <% @user_services.each do |user_service| %>
      <a href="/services/<%= user_service.id %>">
        <li><%= user_service.title %></li></a> 
    <% end %>
  </ul>
<% end %>

<h4>All Events</h4>
<ul>
  <% @all_events.each do |event| %>
    <a href="/events/<%= event.id %>">
      <li><%= event.title %></li></a> 
  <% end %>
</ul>

<h4>All Services</h4>
<ul>
  <% @all_services.each do |service| %>
    <a href="/services/<%= service.id %>">
      <li><%= service.title %></li></a> 
  <% end %>
</ul>

<%= link_to "Sign Out", "/users/sign_out", method: :delete %>

  
</div>  
