<h1>User Home</h1>

<h4>My Events</h4>

<% if current_user.admin %>
  <ul>
    <% @owned_events.each do |owned_event| %>
      <a href="/events/<%= owned_event.id %>">
        <li><%= owned_event.title %></li></a> 
    <% end %>
  </ul>
<% else %>
  <ul>
    <% @user_events.each do |user_event| %>
      <a href="/events/<%= user_event.id %>">
        <li><%= user_event.title %></li></a> 
    <% end %>
  </ul>
<% end %>

<h4>All Events</h4>
<ul>
  <% @all_events.each do |event| %>
    <a href="/events/<%= event.id %>">
      <li><%= event.title %></li></a> 
  <% end %>
</ul>

<%= link_to "Sign Out", "/users/sign_out", method: :delete %>

